.box-wrapper {
            height: 100vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
			
			}
			#box1 {
            padding: 10px;
            height: 30px;
            line-height: 30px;
            border: solid 1px green;
			cursor: pointer;
			
        }
